.gwt-TabLayoutPanel{
   width: 90%;
   margin: 10px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
  	-webkit-border-radius: 5px 5px 5px 5px;
  	border: 1px solid #b3b3b3;
  	background-color: #fff;
}

/* .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
	border-radius: 2px 2px 2px 2px;
  	-moz-border-radius: 2px 2px 2px 2px;
  	-webkit-border-radius: 2px 2px 2px 2px;
  	border: 1px solid #b3b3b3;
} */

.htmlPanel{
	background-color : lightgray;
}

#header{	
	width: 100%;
	padding: 5px 0;
	background-color: #546168;
	color: #ffffff;
}

#logo{
	display: inline-block;
	width: 100%;
}

#logo .gwt-Image{
	display: inline-block;
	float: left;	
}

#logo .gwt-Label{
	display: inline-block;
	float: left;
	font-size: 40px;
	text-align: center;
}

.WidgetField_panel{
	width: 100%;	
	padding: 30px;
}

.WidgetField_question{
	width: 30%;
	display: inline-block;
	float: left;
	text-align: right;
}

.WidgetField_answer{
	width: 50%;
	padding-right: 20%;
	display: inline-block;
	float: left;
}

/* .feedback{
	border-radius: 25px;
   	color: white;
   	height: 250px;
   	position: absolute;
   	top: 35%;
   	right: 0%;
}

.normal{
   background: #546168;
   width: 30px;
   text-align: center;
   content-align: center;
}

.active{
   background: #546168;
   width: 100px;
   cursor: pointer;
   cursor: hand;
   text-align: center;
} */
