

/* .feedback{
	border-radius: 25px;
   	color: white;
   	height: 250px;
   	position: absolute;
   	top: 35%;
   	right: 0%;
}

.normal{
   background: #546168;
   width: 30px;
   text-align: center;
   content-align: center;
}

.active{
   background: #546168;
   width: 100px;
   cursor: pointer;
   cursor: hand;
   text-align: center;
} */
